/* category-form.component.css */
.category-form-container {
    max-width: 500px;
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
    border-radius: 5px;
    background-color: darkgray;
}

.form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
  }
  
  .preview-image {
    max-width: 100%;
    margin-top: 10px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  