#p {
    margin: 16px auto;
    text-align: center;
}

.cart-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .product-item {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #f9f9f9;
  }
  
  .product-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
  }
  
  .product-details {
    flex: 1;
    padding: 20px;
  }
  
  .product-details h3 {
    color: #333;
  }
  
  .product-details p {
    color: #666;
  }
  
  .product-details button {
    background-color: #dc3545;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .product-details button:hover {
    background-color: #c82333;
  }
  