.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-image: url('https://iso.500px.com/wp-content/uploads/2013/08/11834033-1170.jpeg'); /* Replace with the actual image path */
    background-size: cover;
    background-position: center;
    color: #fff; /* Text color for better visibility on the background image */
  }

  .error-message p {
    text-align: center;
    font-size: 2em;
  }

  h2 {
    text-align: center;
    font-size: 13em;
    margin-bottom: 10px;
  }
  
  .error-details {
    font-size: 1.2em;
    max-width: 500px;
    text-align: start;
    margin: 20px;
  }
  
  .error-buttons {
    display: flex;
    gap: 10px;
  }
  
  button {
    background-color: #007bff; /* Blue color for buttons */
    color: #fff;
    padding: 13px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }

  #help {
    background-color: #008000;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }
  