/* dashboard.component.css */

.container-of-dashboard {
    display: flex;
    flex-direction: row;
  }
  
  .first-block {
    width: 25%;
    background-color: blue;
  }
  
  .second-block {
    width: 75%;
  }
  
  .first-block links {
    width: 100%;
  }
  
  .first-block .links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .links ul li {
    width: 100%;
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    padding: 25px;
    list-style: none;
    border-bottom: 1px solid;
  }
  
  ul li a {
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    font-size: 16px;
    color: white;
  }
    